{% load pin_tags %}
{% load humanize %}
{% load daddy_avatar %}

{% spaceless %}
{% for item in latest_items %}
        {% if display_item and forloop.counter == 1 %}
	      {% include "pin/item_inner.html" %}
	    {%endif%}

	<div class="feed-item" >
		<div class="img-block" style="width: 192px;height: 137px">
			<a class="pin-item-link" href="{% url 'pin-item' item.stock_code%}">
                {{item.stock_code|get_svg:item.create}}
			</a>
		</div>
		<p> {{ item.text | safe | truncatewords:"50" | linebreaksbr }} </p>
		 <div class="sharing-actions">
			<div class="controls controls-row">
				<a href="{% url 'pin-item-like' item.stock_code%}" class="btn btn_like {% if user.is_authenticated%}{% user_post_like item.stock_code %}{% endif %}"> <i class="icon-heart"></i> {{item.like}} </a>
				{% if user.id == item.user.id%}
				<a href="{% url 'pin-item-delete' item.stock_code%}" class="btn btn-danger delpost" style="margin-right: 5px">
	<i class="icon-remove"></i>D</a>
<a href="{% url 'pin-item-edit' item.stock_code%}" class="btn" style="margin-right: 5px"  data-toggle="modal" data-target="#pinitem"> 
	<i class="icon-pencil"></i>E
</a>
				{% endif %}
			</div>
		 </div>
		{% if offset %}
		    <span data-next="{{offset}}" ></span>
		{%else%}
		    <span data-next="{{item.timestamp}}" ></span>
		{%endif%}
	</div>
{%endfor%}
{% endspaceless %}
